<div id="sidebar-left">
<div id="currentlyplayingbox"><h2>Currently Playing</h2>
<div id="update"></div>
<div id="skipping"></div>
<div id="player">
<h3>You and Yours: 23/03/2010</h3>
<div class="playerholder"><embed class="embedplayer" type="application/x-shockwave-flash" src=http://www.bbc.co.uk/emp/9player.swf?t=8m42s" style="" id="embeddedPlayer_8140668" name="embeddedPlayer_8140668" bgcolor="#000000" quality="low" wmode="transparent" allowfullscreen="false" allowScriptAccess="always" flashvars="config_settings_language=default&playlist=http://www.bbc.co.uk/iplayer/playlist/b00rd8kh&playlist=http://www.bbc.co.uk/iplayer/playlist/b00rd8kh&config_settings_autoPlay=true"  width="382" height="135"></div>
</div>

<div id="prefbuttons"><a href="javascript:love()"><span id="clicklove"><img src="lovenormal.gif" alt="love it"></span></a><span id="loveclicked"></span><a href="javascript:like()"><span id="clicklike"><img src="likenormal.gif" alt="like it"></span></a><span id="likeclicked"></span><a href="javascript:dislike()"><span id="clickdislike"><img src="dislikenormal.gif" alt="dislike it"></span></a><span id="dislikeclicked"></span><a href="javascript:hate()"><span id="clickhate"><img src="hatenormal.gif" alt="hate it"></span></a><span id="hateclicked"></span> <span id="clickforward"><a href="javascript:next()"><img src="forward.gif"></a></span></div>
</div>
 <script type="text/javascript">
function hideOnLoad(element) {
	document.getElementById(element).style.display = "none";
}

function showOnLoad(element) {
	document.getElementById(element).style.display = "";
}

function toggle(element,element2,element3) {
	if (document.getElementById(element).style.display == "none") {
		document.getElementById(element).style.display = "";
	} else {
		document.getElementById(element).style.display = "none";
	}
	if (document.getElementById(element2).style.display == "none") {
		document.getElementById(element2).style.display = "";
	} else {
		document.getElementById(element2).style.display = "none";
	}
	if (document.getElementById(element3).style.display == "none") {
		document.getElementById(element3).style.display = "";
	} else {
		document.getElementById(element3).style.display = "none";
	}
}
</script><div id="morebutton" style="display: none;"><a href="javascript:toggle('nphide','morebutton','lessbutton')">more &gt; &gt;</a></div>
<div id="lessbutton" style="display: none"><a href="javascript:toggle('nphide','morebutton','lessbutton')">&lt; &lt; less</a></div>
<br>
<div id="nphide"><div class="bodytext"><div class="container">
<div class="titleandduration">You and Yours: 23/03/2010<br>53 minutes</div><div class="listingImage"><img src="http://www.bbc.co.uk/programmes/r/42070/images/_programmes/service_icons/66x37/radio4.gif"></div></div><br><div>                           <p>In an internet and health conscious age many of us expect to feel good all of the time and look for cures for minor illnesses where in the past people might have put up and shut up.</p> <p>A group of leading doctors and specialists this week claimed the &#39;worried well&#39; account for a fifth of GP appointments - wasting doctors&#39; time and money that could be spent on those who need it more.</p> <p>While most local surgeries out-source out-of-hours care, GPs are earning more than ever before; and patients group National Voices has launched a campaign for a better complaint and feedback system.</p> <p>So are you sympathetic to GP stress? Is your surgery full of time wasters? Or perhaps you feel that you are getting a raw deal and that your surgery is never open at the right time? Can you ever get hold of a doctor in the evening or at the weekend? We want to hear your views for our phone-in.</p> <p>Julian Worricker chairs our phone-in every Tuesday. To take part on the day call us on 03700 100 444. (Calls are answered between 10am and 1pm every Tuesday: standard geographic charges apply and calls may be included in your telecom provider&#39;s call package. Calls from mobiles may be higher).</p>          </div></div><script type="text/javascript">hideOnLoad("nphide")</script> 

<script type="text/javascript">showOnLoad("morebutton")</script>   </div></div>



</div>


<div id="main">


<div id="episode1">
		<div class="listingTitle">You and Yours: 23/03/2010</div>
		<div class="listingMain">

			<div class="listingSmallImage"><img src="http://node2.bbcimg.co.uk/iplayer/images/episode/b00rd8kh_150_84.jpg" alt="You and Yours"></div>
			<div class="listingShortSynopsis"><p>         Do we expect too much of our GPs? Are you sympathetic to GP stress?       </p><p>53 minutes / <a href="http://www.bbc.co.uk/programmes/b00rd8kh">BBC programme page</a><br>Factual, Consumer, Radio</p></div>
			<div class="listingNetworkImage"><img src="http://www.bbc.co.uk/programmes/r/42070/images/_programmes/service_icons/66x37/radio4.gif"></div>
		</div>
	</div>
	<p><b>Next:</b></p>

	<div id="episode2">
		<div class="listingTitle">Money Box Live: 28/04/2010</div>
		<div class="listingMain">
			<div class="listingSmallImage"><img src="http://node2.bbcimg.co.uk/iplayer/images/episode/b00s3fzm_150_84.jpg" alt="Money Box Live"></div>
			<div class="listingShortSynopsis"><p>         Paul Lewis and a panel of guests answer calls on financial issues.       </p><p>30 minutes / <a href="http://www.bbc.co.uk/programmes/b00s3fzm">BBC programme page</a><br>Factual, Money, Radio</p></div>
			<div class="listingNetworkImage"><img src="http://www.bbc.co.uk/programmes/r/42070/images/_programmes/service_icons/66x37/radio4.gif"></div>

		</div>
	</div>
	<p><b>Then:</b></p>
	<div id="episode3">
		<div class="listingTitle">Money Box Live: 07/07/2010</div>
		<div class="listingMain">
			<div class="listingSmallImage"><img src="http://node2.bbcimg.co.uk/iplayer/images/episode/b00sxj2b_150_84.jpg" alt="Money Box Live"></div>
			<div class="listingShortSynopsis"><p>         Vincent Duggleby and a panel of guests answer calls on financial issues.       </p><p>30 minutes / <a href="http://www.bbc.co.uk/programmes/b00sxj2b">BBC programme page</a><br>Factual, Money, Radio</p></div>

			<div class="listingNetworkImage"><img src="http://www.bbc.co.uk/programmes/r/42070/images/_programmes/service_icons/66x37/radio4.gif"></div>
		</div>
	</div>
	<div id="episode4">
		<div class="listingTitle">Money Box Live: 26/05/2010</div>
		<div class="listingMain">
			<div class="listingSmallImage"><img src="http://node2.bbcimg.co.uk/iplayer/images/episode/b00sg1hp_150_84.jpg" alt="Money Box Live"></div>
			<div class="listingShortSynopsis"><p>         Vincent Duggleby and a panel of guests answer calls on student finance.       </p><p>30 minutes / <a href="http://www.bbc.co.uk/programmes/b00sg1hp">BBC programme page</a><br>Factual, Money, Radio</p></div>

			<div class="listingNetworkImage"><img src="http://www.bbc.co.uk/programmes/r/42070/images/_programmes/service_icons/66x37/radio4.gif"></div>
		</div>
	</div>
	<div id="episode5">
		<div class="listingTitle">You and Yours: 01/06/2010</div>
		<div class="listingMain">
			<div class="listingSmallImage"><img src="http://node2.bbcimg.co.uk/iplayer/images/episode/b00shqls_150_84.jpg" alt="You and Yours"></div>
			<div class="listingShortSynopsis"><p>         Consumer news and issues with Julian Worricker. Does local government really need reform?       </p><p>57 minutes / <a href="http://www.bbc.co.uk/programmes/b00shqls">BBC programme page</a><br>Factual, Consumer, Radio</p></div>

			<div class="listingNetworkImage"><img src="http://www.bbc.co.uk/programmes/r/42070/images/_programmes/service_icons/66x37/radio4.gif"></div>
		</div>
	</div></div>
</div>

<div id="sidebar-right">
	<div><p><b><a href="dologin.php?logout=TRUE">Log Out</a></b></p></div>
	<div><p><b><br>Your Station:</b></p></div>

		<div class="selectedstation"><p><b>Ben's station</b></p></div>

	<div><p><b><br>Friends' Stations:</b></p></div>	

<div><p><a href="main.php?station=20">Ngaio's station</a></p></div><div><p><a href="main.php?station=19">Random's station</a></p></div><div><p><a href="main.php?station=13">Tom's station</a></p></div><div><p><b><br>Official Stations:</b></p></div><div><p><a href="main.php?station=30"><img src="http://www.bbc.co.uk/programmes/r/42070/images/_programmes/service_icons/66x37/radio4.gif"></a></p></div><div><p><a href="main.php?station=31"><img src="http://www.bbc.co.uk/programmes/r/42070/images/_programmes/service_icons/66x37/5live.gif"></a></p></div><div><p><a href="main.php?station=32"><img src="http://www.bbc.co.uk/programmes/r/42070/images/_programmes/service_icons/66x37/radio7.gif"></a></p></div><div><p><a href="main.php?station=33"><img src="http://www.bbc.co.uk/programmes/r/42070/images/_programmes/service_icons/66x37/worldservice.gif"></a></p></div>
</div>


